.input-dropdown {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0px;
  padding-left: 20px;
  padding-right: 25px;
  padding-bottom: 5px;
}

.input-dropdown > ul {
  width: 100%;
  padding: 10px 0px 10px 5px;
  border-radius: 5px;
  margin: 0px 0px 5px 5px;
  border: none;
  list-style-type: none;
  background-color: white;
  color: black;
}
