
@keyframes loading {
  0% { margin-right: 0px; fill: lightgreen; }
  50% { margin-right: 50px; fill: white; }
  100% { margin-right: 0px; fill: lightgreen; }
}

@keyframes loading-inverted {
  0% { margin-left: 0px; fill: lightgreen; }
  50% { margin-left: 50px; fill: white; }
  100% { margin-left: 0px; fill: lightgreen; }
}

@-moz-keyframes spinner {
  0% { -moz-transform: rotate(0deg) }
  100% { -moz-transform: rotate(363deg) }
}
@-webkit-keyframes spinner {
  0% { -webkit-transform: rotate(0deg) }
  100% { -webkit-transform: rotate(363deg) }
}
@keyframes spinner {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.icon {
  margin: 0px 10px 0px 0px;
}

.svg-spinner {
  $time: 1.5s;
  $animation-name: spinner;
  fill: lightgreen;

  -webkit-animation-name: $animation-name;
  -webkit-animation-duration: $time;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: $animation-name;
  -moz-animation-duration: $time;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: $animation-name;
  -ms-animation-duration: $time;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-transition: rotate(3600deg);
}

.svg-loading {
  animation: loading 1s infinite;
}

.svg-loading-inverted {
  animation: loading-inverted 1s infinite;
}

.svg-loading-icon {
  position: relative;
  fill: white;
  transform: rotate(90deg);
}

.svg-loading-icon-inverted {
  position: relative;
  fill: white;
  transform: rotate(90deg) scaleY(-1);
}
