
.select-input {
  width: 100%;
  margin: 5px;
  padding: 10px 5px 10px 5px;
  border: none;
  border-radius: 5px;
  background-color: white;
}

.select-div {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}

.select-label {
  padding-left: 5px;
}
