@import '../../App.scss';

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 5;

  .loading-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    background-color: black;
    padding: 60px 60px 50px 50px;
    box-shadow: 0px 0px 10px $color-primary;
    border-radius: 10px;
    opacity: .8;
  
    .loading-label {
      margin: 30px 0px 0px 10px;
    }
  }
}


