@import '../App.scss';

$animationSpeed: 60s;

@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

// Animation
@keyframes scroll {
	0% { transform: translateX(0px); }
	100% { transform: translateX(calc(-290px * 28)); }
}

// Styling
.sponsorship-image {
  width: 250px;
  height: 100px;
}

.sponsorship-slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(255, 255, 255, 0.125);
	height: 130px;
	margin: 30px 0px 30px 0px;
	overflow: hidden;
	position: relative;
	width: 90vw;
  border-radius: 10px;

	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 130px;
		position: absolute;
		width: 100px;
		z-index: 1;
	}

	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.sponsorship-slide-track {
    animation: scroll $animationSpeed linear infinite forwards;
    display: flex;
    align-items: center;
    height: 100%;
    width: 13320px;
	}

  .sponsorship-slide {
		height: 100px;
    width: 290px;
    margin-left: 20px;
    border-radius: 10px;
    padding: 10px;

    &:hover {
      box-shadow: 0 0px 20px 0px $background-secondary;
    }
	}
}