
@keyframes fade {
  0% {
    width: 200px;
    opacity: 1;
  }
  100% {
    width: 0%;
    padding: 0px;
    margin: 0px;
    opacity: 0;
  }
}

.message-error-message {
  margin: 10px 15px 10px 25px;
  padding: 10px 30px 10px 30px;
  color: white;
  background-color: rgb(255, 97, 97);
  border-radius: 5px;
}

.message-success-message {
  opacity: 1;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 10px 15px 10px 25px;
  padding: 10px 30px 10px 30px;
  color: white;
  background-color: rgb(80, 202, 110);
  border-radius: 5px;
  overflow: hidden;
  height: 35px;
  animation: fade .5s ease-in 4.5s forwards;
}

.message-success-message span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}