
$color-primary: lightgreen;
$font-primary: white;

$color-secondary: darkcyan;
$font-secondary: white;

$color-tertiary: firebrick;
$font-tertiary: black;

$background-primary: rgb(11.7%, 14.4%, 11.7%);
$background-secondary: rgb(52, 58, 52);

$max-screen-size: 750px;

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(/assets/roboto-condensed.light.ttf);
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(/assets/economica-bold.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: $background-secondary;
  color: white;
}

body {
  font-size: 18px;
  font-family: 'RobotoCondenced';
  text-align: center;
}

input, span, label, select, button {
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 90px;
}

.form {
  width: 650px;
}

@media only screen and (max-width: $max-screen-size) {
  .form {
    width: 100%;
  }
}

@mixin primary {
  background-color: $color-primary;
  color: $font-primary;
}

.primary {
  @include primary();
}

@mixin secondary {
  background-color: $color-secondary;
  color: $font-secondary;
}

.secondary {
  @include secondary();
}

@mixin tertiary {
  background-color: $color-tertiary;
  color: $font-tertiary;
}

.tertiary {
  @include tertiary();
}

.color-primary {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.color-tertiary {
  color: $color-tertiary;
}

.navigation {
  position: fixed;
  justify-content: center;
  flex-shrink: 1;
  flex-grow: 1;
  width: 100%;
  height: 80px;
  top: 0;
  background-color: $background-primary;
  box-shadow: 0px 0px 10px $background-primary;
  z-index: 3;
}

.navigation-content {
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

@mixin link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  color: lightgreen;
  text-decoration: none;
  border-radius: 10px;
}

.link {
  @include link();
}

.link:hover, link:focus, link:active {
  text-decoration: underline;
  background-color: $background-secondary;
}
