
@mixin mapSize {
  width: 100vw !important;
  height: 100vh !important;
  margin: 0px;
  padding: 0px;
}

.localizacao {
  @include mapSize();

  > div {
    display: flex !important;
    flex-direction: row !important;
    @include mapSize();

    > div {
      @include mapSize();
    }
  }
}