
.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 10px;
  height: 50px;
  min-height: 50px;
  margin-bottom: 30px;
}
