@import '../App.scss';

.valor-inscricao {
  padding: 10px 20px 20px 20px;
  margin: 30px 10px 30px 10px;
  border-radius: 10px;
  background-color: $background-primary;

  &:hover, &:focus, &:active {
    box-shadow: 0px 0px 10px 0px $color-primary;
  }

  h2 {
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
  }
  
  p {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 10px;

    &:hover, &:focus, &:active {
      background-color: $background-secondary;
    }

    span {
      color: $color-primary;
      font-size: 22px;
      font-weight: 800;
      min-width: 100px;
      margin-left: 15px;
    }

    &:last-child {
      margin-top: 30px;
    }
  }
}