
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 15px 30px 15px 30px;
  margin: 5px 5px 5px 5px;
  min-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.medium {
  padding: 10px 25px 10px 25px;
}

.small {
  padding: 5px 20px 5px 20px;
}

/*
background-color: chocolate;
background-color: brown;
background-color: darkred;
background-color: darkslategrey;
background-color: firebrick;
*/