@import '../App.scss';

.navigation-header {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $background-primary;
  box-shadow: 0px 0px 10px $background-primary;
}

.navigation-logo {
  height: 57px;
  width: 142px;
  margin-right: 5px;
  z-index: 2;
}

.navigation-toggle {
  display: block;
  position: relative;
  height: 80px;
  z-index: 1;

  ul {
    display: flex;
    padding: 0px;

    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100vw;
    height: 80px;
    position: fixed;

    top: 0;
    background: $background-primary;
    box-shadow: 0px 0px 10px $background-primary;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

    li {
      display: flex;
      justify-content: flex-start;
      padding: 0px 0;
      font-size: 18px;
    }

    a {
      @include link();
      width: 100%;
      display: flex;
      justify-content: flex-start;
      padding: 15px;
      margin: 5px 15px 0px 0px;

      &:hover {
        text-decoration: underline;
        background-color: $background-secondary;
      }
    }
  }

  span {
    display: none;
  }

  input {
    display: block;
    position: absolute;
    width: 40px;
    height: 32px;
    top: 30px; /* must be the same as of span */
    left: 30px;/* must be the same as of span */
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
}

// @media only screen and (max-width: $max-screen-size) {
.navigation-toggle {
  display: block;
  position: relative;
  z-index: 2;

  ul {
    display: flex;
    padding: 0px;

    flex-direction: column;
    padding: 70px 0px 20px 20px;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    width: 250px;
    height: 100vh;
    position: absolute;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    li {
      width: 100%;
    }
  }

  span {
    display: block;
    width: 33px;
    height: 4px;
    top: 30px;
    left: 30px; 
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
      background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
      opacity 0.55s ease;

    &:first-child {
      transform-origin: 0% 0%;
    }

    &:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  }

  input {
    &:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
  
      &:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
  
      &:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
      }

      &~ ul {
        transform: none;
      }
    }
  }
}
// }
