@import "../App.scss";

.checagem-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0px 0px 0px;
}

.checagem-inscricao {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;

  h3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(20, 26, 20);
    box-shadow: 0px 0px 10px rgb(11.7%, 14.4%, 11.7%);

    &:hover {
      box-shadow: 0px 0px 10px $color-primary;
    }

    span {
      font-size: 15px;
      color: $color-primary;
    }
  }
}
