
.minhas-incricoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.minhas-incricoes-inscricao {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 10px;
  background-color: rgb(20, 26, 20);
  border-radius: 10px;

  h3 {
    text-decoration: underline;
  }
}
