@import '../../App.scss';

.custom-input {
  padding: 10px 5px 10px 5px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.input-div {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.input-label {
  padding-left: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  width: 100%;
  display: none;
  position: absolute;
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
  padding: 12px 16px;
  min-width: 160px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: none;
  z-index: 1;
}

.dropdown-content p {
  color: black;
  cursor: pointer;
  padding: 2px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
