@import '../../App.scss';

.pagamento-realizado {
  fill: $color-primary !important;
  // color: $color-primary !important;
  width: 70px;
  height: 50px;
}

.pagamento-nao-realizado {
  fill: $color-tertiary !important;
  // color: $color-primary !important;
  width: 70px;
  height: 50px;
}

.pagamento {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;

  &-titulo {
    padding-bottom: 30px;
  }

  &-atletas {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
    width: 100%;

    &-atleta {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;
      height: 40px;
      width: 300px;
      margin: 10px;
      padding: 10px;
      border-radius: 10px;
      background: $background-primary;
      transition: box-shadow 0.6s cubic-bezier(0.77, 0.2, 0.05, 1.0);

      &:hover, &:active, &:focus {
        box-shadow: 
          0px 0px 10px 10px $background-primary,
          0px 0px 1px 8px $color-primary;

        // & div {
        //   &.icon {
        //     width: 0px !important;
        //   }

        //   &:last-of-type {
        //     width: 180px;
        //   }
        // }
      }

      div {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: width 0.6s cubic-bezier(0.77, 0.2, 0.05, 1.0);

        &.icon {
          width: 0px;
        }

        span:last-of-type {
          color: $color-primary;
        }

        &:last-of-type {
          width: 180px;

          .pago {
            width: 100%;
            margin: 0px;
            background-color: $color-secondary;
            cursor: pointer;
          }

          .nao-pago {
            width: 100%;
            margin: 0px;
            background-color: $color-tertiary;
            cursor: pointer;
          }
        }
      }
    }
    
  }
}