@import '../App.scss';

.home-banner {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px 30px 0px 30px;
}

.home-conteiner {
  justify-content: flex-start !important;
  height: 100%;
  width: 100%;
}

.home-banner-image {
  border-radius: 10px;
  box-shadow: 0px 0px 10px lightgreen;
  width: 100%;
}

.home-atention {
  padding: 20px !important;
  margin: 20px !important;
  background-color: $background-primary !important;

  &:hover, &:active, &:focus {
    background-color: $background-primary !important;
    box-shadow: 0px 0px 5px 2px $color-primary !important;
  }
}